@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@font-face {
  font-family: 'Big Noodle';
  src: url('big_noodle_titling.ttf') format('truetype');
}

/* General Styles */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  color: #202123;
  background-color: #fff;
  font-family: 'Open Sans Light', 'Segoe UI', 'Calibri', 'Tahoma', 'Arial', sans-serif;
  font-size: 12pt;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

body::-webkit-scrollbar-thumb {
  background-color: #888;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

a {
  color: gray;
  text-decoration: none;
}

a:hover {
  color: lightblue;
}

a:visited {
  color: gray;
}

/* Header Styles */
.header {
  background-color: #202123;
  height: 200px;
}

.banner {
  background-image: url("images/banner.gif");
  background-size: cover;
  background-position: center;
  height: 100%;
}

@media screen and (max-width: 850px) {
  .header {
    height: 100px;
  }

  .banner {
    background-image: url("images/banner-mini.gif");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 40px;
  }
}

/* Container Styles */
.container {
  background-color: #fff;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding-right: 20px;
  font-size: 80%;
  position: relative;
  max-height: calc(100vh - 200px);
   }
.container img {
  margin-top: 35px;
}

@media screen and (max-width: 850px) {
  .container {
    width: 90%;
    font-size: 70%;
    align-items: center;
    margin-top: 10px;
  }
  
@media screen and (max-width: 850px){ }
  .container img {
    max-width: 80%;
    max-height: 80%;
  }
}

.text-container {
  margin-top:20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.text {
  margin-left: 10px;
  overflow: auto;
}

.photo {
  float: left;
  margin-right: 20px;
  margin-top: 20px;
}

.photo img {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
}

@media screen and (max-width: 850px) {
  .photo img {
    width: 80%;
  }

  .photo {
    max-width: 50%;
    margin-right: 0px;
    margin-bottom: 0;
  }
}

/* Button Styles */
.left-button-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
}

.button {
  background-color: #202123;
  color: white;
  font-family: 'Big Noodle', bold, sans-serif;
  font-size: 30px;
  width: 100%;
  height: 45px;
  text-align: center;
  cursor: pointer;
  margin-bottom: 10px;
  }

.button a:link,
.button a:visited,
.button a:hover,
.button a:focus,
.button a:active {
    color: inherit;
    text-decoration: none;
  }

.top-button-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-button {
  flex: 0 0 auto;
  width: 40px;
  height: 40px;
  margin: 0 5px;
  padding: 10px;
  background-color: #fff;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-button img {
  max-width: 100%;
  max-height: 100%;
}

.botton-button {
  flex: 0 0 auto;
  margin: 0 5px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.botton-button img {
  display: block;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 850px) {
  .button-container {
    align-items: left;
  }

  .button {
    max-width: 80%;
    font-size: 20px;
  }

  .social-button img {
    max-width: 80%;
    max-height: 80%;
  }

  .botton-button img {
    max-width: 60%;
    max-height: 60%;
  }
}

/* Content Styles */
h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 800%;
  margin-right: 10px;
  margin-top: 35px;
}

h2 {
  font-family: 'Noto Sans', sans-serif;
  color: #B4BAC4;
  font-size: 120%;
  margin-right: 10px;
  margin-top: 20px;
}


p {
  text-align: justify;
  font-size: 120%;
}

@media screen and (max-width: 850px) {
  h1 {
    font-size: 400%;
  }

  p {
    font-size: 80%;
  }
}


